* {
  box-sizing: border-box;
}

html,
body,
#main {
    font-display: swap;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    -moz-font-smoothing: antialised;
    -webkit-font-smoothing: antialised;
    font-smoothing: antialised;
    height: 100%;
    margin: 0;
    padding: 0;
}

aside,
audio,
canvas,
footer,
header,
hgroup,
main,
nav,
video {
    display: block;
}

audio,
canvas,
img,
video {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;
}
